<p id="notice"><%= notice %></p>

<h1>Head Phones</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tendency</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @head_phones.each do |head_phone| %>
      <tr>
        <td><%= head_phone.name %></td>
        <td><%= head_phone.tendency %></td>
        <td><%= head_phone.price %></td>
        <td><%= link_to 'Show', head_phone %></td>
        <td><%= link_to 'Edit', edit_head_phone_path(head_phone) %></td>
        <td><%= link_to 'Destroy', head_phone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Head Phone', new_head_phone_path %>
